In [3]:
# import library
import pandas as pd

In [4]:
# loading data from csv IMDB_Movie_Overview.csv
df_imdb = pd.read_csv('./data/IMDB_Movie_Overview.csv')

In [5]:
# show up number of rows and columns
df_imdb.shape

(5043, 3)

In [6]:
# show up all columns name
df_imdb.columns

Index(['movie_title', 'director_name', 'title_year'], dtype='object')

In [7]:
# show up some row from start
# default number of row is 5, input number to specify how mamny rows want to show
df_imdb.head(5)

,movie_title,director_name,title_year
0,Avatar,James Cameron,2009.0
1,Pirates of the Caribbean: At World's End,Gore Verbinski,2007.0
2,Spectre,Sam Mendes,2015.0
3,The Dark Knight Rises,Christopher Nolan,2012.0
4,Star Wars: Episode VII - The Force Awakens ...,Doug Walker,NaN

In [8]:
# show up some row from end
# default will show 5 final rows, input number to specify how many rows want to show
df_imdb.tail(5)

                     movie_title     director_name  title_year
5038    Signed Sealed Delivered        Scott Smith      2013.0
5039  The Following                            NaN         NaN
5040       A Plague So Pleasant   Benjamin Roberds      2013.0
5041           Shanghai Calling        Daniel Hsia      2012.0
5042          My Date with Drew           Jon Gunn      2004.0

In [10]:
# show up dataframe summary information
# have any null and data type on each column
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 3 columns):
movie_title      5043 non-null object
director_name    4939 non-null object
title_year       4935 non-null float64
dtypes: float64(1), object(2)
memory usage: 118.3+ KB

In [11]:
# summary statistic for column which data type is number
df_imdb.describe()

        title_year
count  4935.000000
mean   2002.470517
std      12.474599
min    1916.000000
25%    1999.000000
50%    2005.000000
75%    2011.000000
max    2016.000000