In [22]:
import pandas as pd

In [23]:
# load './data/IMDB_Movie_Apply.csv' data
df_imdb = pd.read_csv('./data/IMDB_Movie_Apply.csv')
df_imdb.head(3)

,movie_title,gross,movie_imdb_link
0,Avatar \t,760505847.0,http://www.imdb.com/title/tt0499549/?ref_=fn_t...
1,Pirates of the Caribbean: At World's End,309404152.0,http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2,Spectre,200074175.0,http://www.imdb.com/title/tt2379713/?ref_=fn_t...

In [24]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 3 columns):
movie_title        5043 non-null object
gross              4159 non-null float64
movie_imdb_link    5043 non-null object
dtypes: float64(1), object(2)
memory usage: 118.3+ KB

# Change gross to million unit for easy of read

In [25]:
def to_million(g):
    return g/1000000

In [26]:
df_imdb['gross'] = df_imdb['gross'].apply(to_million)
df_imdb.head()

,movie_title,gross,movie_imdb_link
0,Avatar \t,760.505847,http://www.imdb.com/title/tt0499549/?ref_=fn_t...
1,Pirates of the Caribbean: At World's End,309.404152,http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2,Spectre,200.074175,http://www.imdb.com/title/tt2379713/?ref_=fn_t...
3,The Dark Knight Rises,448.130642,http://www.imdb.com/title/tt1345836/?ref_=fn_t...
4,Star Wars: Episode VII - The Force Awakens ...,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...

# Shorten the link

In [27]:
def shorten_link(l):
    return l.replace('http://www.imdb.com/title/', '')

In [28]:
df_imdb['movie_imdb_link'] = df_imdb['movie_imdb_link'].apply(shorten_link)
df_imdb.head()

,movie_title,gross,movie_imdb_link
0,Avatar \t,760.505847,tt0499549/?ref_=fn_tt_tt_1
1,Pirates of the Caribbean: At World's End,309.404152,tt0449088/?ref_=fn_tt_tt_1
2,Spectre,200.074175,tt2379713/?ref_=fn_tt_tt_1
3,The Dark Knight Rises,448.130642,tt1345836/?ref_=fn_tt_tt_1
4,Star Wars: Episode VII - The Force Awakens ...,NaN,tt5289954/?ref_=fn_tt_tt_1